<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="STOMS.FEDEX.CLIENT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ShipServiceSoapBinding">
                    <security mode="Transport"/>
                </binding>
                <binding name="ShipServiceSoapBinding1"/>
                <binding name="ShipServiceSoapBinding2">
                    <security mode="Transport"/>
                </binding>
                <binding name="ShipServiceSoapBinding3"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://wsbeta.fedex.com:443/web-services/ship" binding="basicHttpBinding" bindingConfiguration="ShipServiceSoapBinding" contract="ShipServiceClient.ShipPortType" name="ShipServicePort"/>
            <endpoint address="https://wsbeta.fedex.com:443/web-services/ship" binding="basicHttpBinding" bindingConfiguration="ShipServiceSoapBinding2" contract="ShipServiceWebReference.ShipPortType" name="ShipServicePort1"/>
        </client>
    </system.serviceModel>
    <applicationSettings>
        <STOMS.FEDEX.CLIENT.Properties.Settings>
            <setting name="STOMS_FEDEX_CLIENT_AddressValidationServiceWebReference_AddressValidationService"
                serializeAs="String">
                <value>https://wsbeta.fedex.com:443/web-services/addressvalidation</value>
            </setting>
            <setting name="STOMS_FEDEX_CLIENT_TrackServiceWebReference_TrackService"
                serializeAs="String">
                <value>https://wsbeta.fedex.com:443/web-services/track</value>
            </setting>
            <setting name="STOMS_FEDEX_CLIENT_ShipServiceWebReference_ShipService"
                serializeAs="String">
                <value>https://wsbeta.fedex.com:443/web-services/ship</value>
            </setting>
        </STOMS.FEDEX.CLIENT.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
