USE [kosoft_canary]
GO
/****** Object:  View [dbo].[svwOrderDetails]    Script Date: 01/23/2018 19:16:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[svwOrderDetails]
AS
SELECT     dbo.stblOrder.OrderID, dbo.stblOrder.OrderNum, dbo.stblOrder.OrderDate, dbo.stblOrder.OrderStatus, dbo.stblOrder.PatientID, dbo.stblOrder.SpecimenID, dbo.stblOrder.TenantID, 
                      dbo.stblSpecimenInfo.CustomerID, dbo.stblCustomer.CustNumber, dbo.stblCustomer.CustomerName, dbo.stblCustomer.FirstName, dbo.stblCustomer.LastName, dbo.stblCustomer.Email, 
                      dbo.stblCustomer.Phone, dbo.stblCustomer.Address1, dbo.stblCustomer.Address2, dbo.stblCustomer.City, dbo.stblCustomer.Zipcode, dbo.stblCustomer.State, dbo.stblCustomer.Country, 
                      dbo.stblCustomer.Notes, dbo.stblCustomer.ShipName, dbo.stblCustomer.ShipAddress1, dbo.stblCustomer.ShipAddress2, dbo.stblCustomer.ShipCity, dbo.stblCustomer.ShipZipCode, 
                      dbo.stblCustomer.ShipState, dbo.stblCustomer.ShipCountry, dbo.stblCustomer.BillName, dbo.stblCustomer.BillAddress1, dbo.stblCustomer.BillAddress2, dbo.stblCustomer.BillCity, 
                      dbo.stblCustomer.BillState, dbo.stblCustomer.BillZipCode, dbo.stblCustomer.BillCountry, dbo.stblCustomer.IsPremium, dbo.stblCustomer.IsMembership, dbo.stblCustomer.CustStatus, 
                      dbo.stblCustomer.IsCorporate, dbo.stblCustomer.MemberSince, dbo.stblCustomer.CustomerTier, dbo.stblCustomer.TenantID AS Expr1, dbo.stblCustomer.Fax, dbo.stblCustomer.Diagnosis, 
                      dbo.stblCustomer.DiagnosisCode, dbo.stblCustomer.ResultType, dbo.stblCustomer.Facility, dbo.stblCustomer.RequesterType, dbo.stblCustomer.Message, dbo.stblCustomer.Specialization
FROM         dbo.stblSpecimenInfo INNER JOIN
                      dbo.stblOrder ON dbo.stblSpecimenInfo.SpecimenID = dbo.stblOrder.SpecimenID LEFT OUTER JOIN
                      dbo.stblCustomer ON dbo.stblSpecimenInfo.CustomerID = dbo.stblCustomer.CustID
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "stblSpecimenInfo"
            Begin Extent = 
               Top = 6
               Left = 393
               Bottom = 189
               Right = 583
            End
            DisplayFlags = 280
            TopColumn = 16
         End
         Begin Table = "stblOrder"
            Begin Extent = 
               Top = 18
               Left = 51
               Bottom = 138
               Right = 239
            End
            DisplayFlags = 280
            TopColumn = 36
         End
         Begin Table = "stblCustomer"
            Begin Extent = 
               Top = 6
               Left = 621
               Bottom = 189
               Right = 784
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 52
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width =' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'svwOrderDetails'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'svwOrderDetails'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'svwOrderDetails'
GO
