<div style='width:840px;'>
<img src='@imgPath'style='margin-left:300px'/>
  <h2 style = 'position:center' ><u> Anti - Folate Receptor A Antibodies - Binding and Blocking Assay Report </u></h2>
  <br/><br/><br/>
  <h3><b> Date:@Date<span style = 'margin-left:450px'> Physician:@PhyName</span></b></h3>
  <br/><br/>
  <table style = 'border:1px solid orange;font-size: 22px;border-collapse: collapse; width:750px;'>
    <tr style = 'border:1px solid orange '>
        <th style = 'border:1px solid orange;text-align: left;font-size: 22px;padding: 10px; '> Patient ID </th>
            <td style = 'border:1px solid orange;font-size: 22px;padding: 10px; ' colspan = '2'>@Name</td></tr>
               <tr style = 'border:1px solid orange;font-size: 22px; '>
                <th style = 'border:1px solid orange;text-align: left;padding: 10px; '>DOB</th>
                <td style = 'border:1px solid orange;padding: 10px; ' colspan = '2'>@DOB</td></tr>
               <tr style = 'border:1px solid orange'>
                <td style = 'border:1px solid orange;padding: 10px; '></td>
                <th style = 'border:1px solid orange;padding: 10px; '>Results</th>
                <th style = 'border:1px solid orange;padding: 10px; '>Comments</ th></tr>
               <tr style = 'border:1px solid orange;padding: 10px; '>
                 <td style = 'border:1px solid orange;padding: 10px; '><b><u> Binding Assay </u></b><br/> (pmol IgG bound/ ml serum) </td>
                 <td style = 'border:1px solid orange;padding: 10px; '>@BindingAssay</td>
		 <td style = 'border:1px solid orange;padding: 10px; '>@BindingAssayComments</td></tr>
               <tr style = 'border:1px solid orange '>
 		<td style = 'border:1px solid orange;padding: 10px; '><b><u> Blocking Assay </u></b><br/> (pmol folate blocked/ ml serum) </td>
                <td style = 'border:1px solid orange;padding: 10px; '>@BlockingAssay</td>
		<td style = 'border:1px solid orange;padding: 10px; '>@BlockingAssayComments</td></tr>
    </table><br/><br/> //Here is the page break
    <div style='page-break-before: always; page -break-after: always; font-size=18px'>
	<b><u style='font-size=22px'>Assay Notes:</u></b><br/><br/>
	    <ul><li>Folate receptor (FR) blocking antibody is defined as an antibody that blocks the binding of folic acid to the folate receptor.</li>
                  <br/><br/>
                <li>Binding autoantibodies against the folate receptor recognize multiple epitopes on the folate receptor and can be blocking and binding antibodies(IgG only).</li>
                  <br/><br/>
                <li>As in the case of most autoimmune disorders, the presence of an autoantibody should be considered as possibly abnormal.Low titers of antibodies have been found in individuals who are otherwise healthy. Typically, lower CSF 5-MTHF levels have been associated with higher antibody titers but sometimes, low CSF 5 - MTHF values have been observed in patients with low titers or no antibodies.  </li><br/><br/>
		<li>The concentration of antibodies is known to fluctuate over time (and in response to changes in cow’s milk intake) so repeating the test, if clinically warranted, has been recommended.</li>
	<br/><br/>
		<li>The designation “low”, “medium” or “high” is arbitrary and is based on the cumulative experience of performing the assays, not on its clinical relevance.</li>
	<br/><br/>
	<b><u style='font-size=22px'>DISCLAIMER </u></b>
	<br/><br/>
              At this time, the assays are provided as research tools only. They are not intended to diagnose any disease or form the basis for any clinical decisions, and are not approved by any regulatory body.
</div> //Here is the page break
<div style='page-break-before: always; page -break-after: always;font-size=18px'>
<b><u style='font-size=22px' >References:</u></b>
<br/><br/>
<u>Frye RE</u>, <u>Sequeira JM</u>, <u>Quadros EV</u>, <u>James SJ</u>, <u>Rossignol DA</u>. Cerebral folate receptor autoantibodies in autism spectrum disorder.Mol.Psychiatry. 2013 Mar; 18(3):369 - 81.<br/><br/>
Ramaekers VT, Sequeira JM, Blau N, Quadros EV. A milk-free diet downregulates folate receptor autoimmunity in cerebral folate deficiency syndrome. Dev Med Child Neurol. 2008 May; 50(5):346 - 52.<br/><br/>
Ramaekers <u>VT</u>, <u>Blau N</u>, <u>Sequeira JM</u>, <u>Nassogne MC</u>, <u>Quadros EV</u>. Folate receptor autoimmunity and cerebral folate deficiency in low - functioning autism with neurological deficits. Neuropediatrics. 2007 Dec; 38(6):276 - 81.
<br/><br/>
Rossignol,DA, Frye RE: Folate receptor alpha autoimmunity and cerebral folate deficiency in autism spectrum disorders(REVIEW).<u>Journal of Pediatric Biochemistry</u>. 2012: 263–271.</div>
</div>