

<div>
<div style="border: 1px solid #c5d0dc; background-color: #ffffff; margin-bottom: 10px;width:100%;">
    <div class="active" style="margin-left: 30px; margin-right:45px; margin-top: 20px;width:100%;">
        <div class="row">
            <div style="float: left; margin-left:10px;">
                <!--<img src="IliadLogo.png" />-->
                <img src="/images/IliadLogo.png" />
            </div>
            <div style="float: right;margin-right:120px">
                5110 Campus Drive, Suite #190<br />
                Plymouth Meeting, PA 19462<br />
                P: 610-441-9050 * F: 610-537-5075<br />
                W: www.iliadneuro.com * E: info@iliadneuro.com<br />
            </div>
        </div>
        <div style="padding:10px;margin-top:50px;">
        <hr / style="width:1024px;">
        </div>
        
        <div class="row text-center" style="text-align:center;margin-top:50px;"><h3><strong>Invoice</strong></h3></div>
        <div class="row" style="margin-left:3px;">
            @@InvoicedTo
        </div>
        <div class="row" style="margin-left:3px;">
            <p>Invoice No: @@InvoiceNo</p>
            <p>Date: @@InvoiceDate</p>
        </div>
        <div class="row" style="width:90%">
            <div class="col-sm-12">
                <div class="row" style="margin:0px; height: 35px; color: rgb(255, 255, 255); padding-top: 7px; background-color: rgb(161, 68, 2); width:100%;">
                    <div class="col-sm-1" style="width:8.33%; float:left;">
                        S No.
                    </div>
                    <div class="col-sm-5" style="width:41.65%; float:left;">
                        Description
                    </div>
                    <div class="col-sm-2" style="text-align:center; width:16.66%; float:left;">
                        Quantity
                    </div>
                    <div class="col-sm-2" style="text-align:center; width:16.66%; float:left;">
                        Rate
                    </div>
                    <div class="col-sm-2" style="text-align:right; width:16%;float:left;">
                        Amount
                    </div>
                </div>
                <div class="row" style="margin:0px;height:60px;width:100%;">
                    <div class="col-sm-1" style="height:60px;border-right:solid 1px #211f1f;border-left:solid 1px #211f1f;border-bottom:solid 1px #211f1f;padding-top:10px;width:8.33%; float:left;">
                        @@SNO
                    </div>
                    <div class="col-sm-5" style="height:60px;border-right:solid 1px #211f1f;border-bottom:solid 1px #211f1f;padding-top:10px;width:41.65%; float:left;">
                        @@Description
                    </div>
                    <div class="col-sm-2" style="height:60px;border-right:solid 1px #211f1f;border-bottom:solid 1px #211f1f;padding-top:10px; text-align:center;width:16.66%; float:left;">
                        2
                    </div>
                    <div class="col-sm-2" style="height:60px;border-right:solid 1px #211f1f;border-bottom:solid 1px #211f1f;padding-top:10px;text-align:center;width:16.66%; float:left;">
                        @@Rate
                    </div>
                    <div class="col-sm-2" style="height:60px;border-right:solid 1px #211f1f;border-bottom:solid 1px #211f1f;text-align:right;width:16%; float:left;padding-top:10px;">
                        @@Amount
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10" style="text-align:right;width:83.33%;float:left;">
                        Total
                    </div>
                    <div class="col-sm-2" style="border-right:solid 1px #c5d0dc;text-align:right;width:16%;padding-right:1px;float:right;">
                        @@InvAmount
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:15px;margin-left:3px;">
            <strong>Terms:</strong> Net 30 days
        </div>
        <div class="row" style="margin-top:15px;margin-left:3px;">
            Please make the payment by check or money order in<br />
            Favor of <strong>Iliad Neurosciences, Inc.</strong>
        </div>
        <div class="row" style="margin-top:15px;margin-left:3px;">
            Thank you
        </div>
        <div class="row" style="margin-top:15px;margin-left:3px;margin-bottom:15px;">
            Steve Tsetsekos<br />
            For Iliad Neurosciences, Inc.
        </div>
    </div>
</div>

</div>